body{
    margin: 0;
    font-family: sans-serif;
}
div,body{
    box-sizing: border-box;
}

@media print{
    body{
        font-size: 200px;
    }
}
@media screen 
{ body{
    font-size: 20px;
}
    
}
.flexbox{
    display: flex;
}
.flex-item{
    background-color: rgb(88, 95, 101);
    padding: 30px;
    border: 1px solid red;
    flex-grow: 1;
}

@media screen and (max-width 500px) 
{ 
.flexbox{
    flex-direction: column;
}
    
}
