body{
    margin: 0;
    background-color: rgb(7, 7, 7);
}


form{
    background-color: rgb(255, 255, 255);
    padding: 20px ;
    max-width: 600px;
    margin: 40px auto;
    box-shadow: 0 10px 30px rgba(195, 0, 255, 0.342);
    border-radius: 8px;
}

.forms_inpu{
padding: 6px 20px;
border-radius: 5px;;
}
input,textarea,select{
    width: 100%;
    box-sizing: border-box;
    padding: 6px 12px;
    border: 1px solid pink;
    border-left: 2px solid #ff00c8;
    box-shadow: 0 2px 6px rgb(3, 3, 3);
    margin: 4px 0;
}
fieldset{
    margin:  20px 0;
    border: 2px solid #ff00c8 ;
}
legend {
    padding:  0 5px;
}