body{
    margin: 0;
    background-color: rgb(7, 7, 7);
}
h2{
    text-align:center ;
}

form{
    background-color: rgb(255, 255, 255);
    padding: 20px 0;
    max-width: 600px;
    margin: 40px auto;
    box-shadow: 0 10px 30px rgba(195, 0, 255, 0.342);
    border-radius: 8px;
}

.forms_inpu{
padding: 6px 20px;
border-radius: 5px;;
}
input,textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 6px 12px;
    border: none;
    border-left: 2px solid #ff00c8;
    box-shadow: 0 2px 6px rgb(3, 3, 3);
}
textarea{
    min-width: 100%;
    resize: vertical;
    min-height: 100px;
    max-height: 200px;



}

