body{
    margin: 0;
    background-color: rgb(7, 7, 7);
}
h2{
    text-align:center ;
}

form{
    background-color: rgb(255, 255, 255);
    padding: 20px 0;
    max-width: 600px;
    margin: 40px auto;
    box-shadow: 0 10px 30px rgba(195, 0, 255, 0.342);
    border-radius: 8px;
    margin-bottom: 40px;
}

.forms_inpu{
padding: 6px 20px;
border-radius: 5px;;
}
input,textarea,select{
    width: 100%;
    box-sizing: border-box;
    padding: 6px 12px;
    border: 1px solid pink;
    border-left: 2px solid #ff00c8;
    box-shadow: 0 2px 6px rgb(3, 3, 3);
    margin-top: 4px;
}
option{
    background-color: white;

}
textarea{
    min-width: 100%;
    resize: none;
    min-height: 100px;
    max-height: 200px;
}
label{
    font-size: 0.9em;
}
.checkbox{
    width: auto;
}
fieldset{
    border-radius: 5px;
    border: 1px solid #666;
    margin:  20px;
    padding: 0 20px 20px 20px;
}
legend{
    padding: 0 6px;
}
a{
    color:blue;
    text-decoration: none;
}

