body {
    margin: 0;
    font-family: sans-serif;
    background-color: slategray;
}

body, div {
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(4,1fr);
    grid-auto-rows: 150px;
    grid-auto-flow: row;
    max-width: 1200px;
    width: 100%;
    margin: 30px auto;
    gap: 10px;
    padding: 10px;
}
.grid-item:first-child{
    grid-column: 1/span 2;
    grid-row: 1/span 3;
    background-image: url("imagen.png");
    background-size: cover;
    background-position: center;

}

.grid-item {
    background-color: aqua;
    font-size: 30px;
    max-width: 100%;
}
