body{
    margin: 0;
    font-family: sans-serif;
    background-color: aliceblue;

}
.box{
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 50px;
    background-color: aliceblue;
    border: 1px solid #000;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;


}