body{
    margin: 0;
    font-family: sans-serif;
}
.modal{
    position:absolute;
    background-color: rgba(166, 129, 129, 0.214);
    width: 100vw;
    height: 100vh;

}
.modal__content{
    background-color: #fff;
    padding: 10px 20px;
    width: 80% ;
    margin: auto;
    margin-top: 50px;
}
.modal__title{
    margin-top: 10px;
}
