div{
    background-color: brown;
    width: 400px;
    margin: auto;
    text-align: center;
}
div{
    border-width: 5px;
    border-color: black;
    border-style: solid;
    border-radius: 25%;
    border-top: 0cap;
}