body{
    background-color: red;
    margin: 0;

}
.box{
    width: 400px;
    height: 400px;
    background: radial-gradient(black,transparent);
    margin: 0;
    width: 100%;

}
h1{
    margin: 0;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-family:sans-serif ;
}