td,th{
    border: 1px solid black;
    text-align: center;
    padding: 6px;
    font-family: sans-serif;
    border-radius: 5px;
}
table{
    width: 100%;
    border-spacing: 12px;
    border: 2px solid black;
    box-shadow: 0px 0px 25px #0002;
    margin:  auto;
}