body{
    background-color: black;
    color: bisque;
}

.card{
    background-color: blue;
    text-align: center;
    width: 400px;
    margin: 20px auto;
    padding: 15px;
    box-shadow: 0px 0px 35px #0016;
    border-radius: 8px;
    display: inline-block;
    margin: 40px;

}
.red_card{
    background-color: red;
}
.green_card{
    background-color: green;
}
.card_title{
    padding-top: 13px;
    font-weight: 700;
    margin: 0;
}

.card_description{
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 2px;
}

.card h1{
    font-size: 20px;
}

.card h2{
    font-size: 10px;
}
.card_img{
    width: 200px;
    border-radius:50% ;
}
