body{
    margin: 0;
    font-family: sans-serif;
}
.flexbox{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap ;
    height: 100vh;
}
.flex-item{
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 10px;
    width: 150px;
    text-align: center;
}
.flex-item:first-child{
    background-color: blueviolet;
}
.flex-item:last-child{
    background-color: green;
}
