*{
    box-sizing: border-box;
}

body{
    background-color: color-mix(in srgb, #f62 70%, #fff);
    --card-color: #fff;
    font-family: sans-serif;
}

/* CARD */
.card{
    max-width: clamp(160px, 50%, 320px);
    height: 380px;
    margin: 50px;
    position: relative; /* CLAVE */
    perspective: 900px;
}

/* CARAS */
.card_front,
.card_back{
    position: absolute;
    inset: 0;
    background-color: var(--card-color);
    backface-visibility: hidden;
    transition: transform 1s;
    border-radius: 16px;
    overflow: hidden;
}

/* FRONT */
.card_front{
    transform: rotateY(0deg);
}

/* BACK */
.card_back{
    display: grid;
    place-content: center;
    padding: 12px;
    transform: rotateY(180deg);
}

/* HOVER */
.card:hover .card_front{
    transform: rotateY(180deg);
}

.card:hover .card_back{
    transform: rotateY(360deg);
}

/* IMAGE */
.card__worker{
    height: 150px;
    overflow: hidden;
}

.card__worker img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* DATA */
.card__data{
    padding: 12px;
}

.card__data span{
    font-size: 1.4rem;
    font-weight: bold;
    display: block;
}
.card:last-child img{
    filter: contrast();
}
