body {
    margin: 0;
    font-family: sans-serif;
    background-color: slategray;
}

body, div {
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));    grid-auto-rows: 150px;
    grid-auto-flow: dense;
    margin: auto;
    gap: 10px;
    padding: 10px;
    min-height: 100vh;
}
/*.grid-item:first-child{
    grid-column: 1/span 2;
    grid-row: 1/span 3;
    background-image: url("imagen.png");
    background-size: cover;
    background-position: center;

}*/

.grid-item {
    background-color: aqua;
    font-size: 30px;
 border-radius: 16px;
 background-image: url(imagen.png);
 background-size: cover;
 background-position: center;
}
.grid-item:nth-child(10){
    grid-column: span 2;
    grid-row: span2;
}
.grid-item:nth-child(5){
    grid-column: span 2;
}
