body{
    margin: 0;
    font-family: sans-serif;
}
.contenedor{
    padding: 50px;
    background-color: blue;
    position: relative;

}
.box{
    height: 60px;
    width: 100px;
    background-color: red;
    position: fixed;
    right: 0;
    background-color: wheat;
    border: 1px solid black;
    border-right: 0;
    box-shadow: 0px 0px 40px black;
    z-index: 30;

}
.box-fixed{
    height: 60px;
    width: 200px;
    background-color: red;
    position: sticky;
    top: 30px;
    z-index: 40;
    box-sizing: border-box;
}

h2{
    margin: 0;
}
