body{
    margin: 0;
}
.nav{
    background-color: #48e;

}
.nav__list{
    margin: 0;
}
.nav__item{
    display: inline-block;
}

.nav__link{
    color: aliceblue;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    background-color: #48e;
}
.nav__link:hover{
    background-color: #59e;
}
.link--button{
    border: #48e;
    background-color: #fff;
    padding: 4px;
    color: #48e;
    border-radius: 3px;
    /*display: none;*/

}
.link--button:hover{
    background: transparent;
    color: #fff;
}