body{
    margin: 0;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.box{
    
    margin: auto;
    padding:  20px 50px;
    border: 4px solid black;
    width: fit-content;
    transform: skew(20deg);

    /*filter: blur(10px);*/
    /*filter: brightness(2);*/
    /*filter: contrast(6);*/
    /*filter: hue-rotate(200deg);*/
}
.box:last-child{
    transform: rotate(19deg);


}
.box:first-child{
    transform: skew(20deg);
    transition: rotate .6s;

}
.box:first-child:hover{
    transform: skew(90deg);


}
