body{
    margin: 0;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
}
.box{
    
    margin: auto;
    padding:  20px 50px;
    background-color: #48e;
    backdrop-filter: hue-rotate(200deg);

    /*filter: blur(10px);*/
    /*filter: brightness(2);*/
    /*filter: contrast(6);*/
    /*filter: hue-rotate(200deg);*/
    position: absolute;
    width: 100%;
    border: 4px solid black;
}
img{
    max-width: 40%;
    object-fit: cover;
    filter: grayscale(5);
    
    
}