.contenedor{
    border: 3px solid black;
    margin: 20px;

}

body{
    margin: 0;
    background-color: #e6c7c7;

}
div{
    display: block;
}
.box{
   width: 100px;
    height: 100px;
    background-color: orange;
    color: white;

    border: 2px solid black;
s
}
.box--blue{
     background-color: rgb(27, 27, 208);
     position: absolute;
     
    
}
.box:first-child{
   
    background-color: red;
   

}