body{
    margin: 0;
    background-color: #e6c7c7;

}
div{
    display: block;
}
.box{
   width: 100px;
    height: 100px;
    background-color: orange;
    color: white;
    position: relative; /*la caja se mantiene ahi*/
    border: 2px solid black;

}
.box--blue{
     background-color: rgb(27, 27, 208);
    margin-top: 10px;
    left: 10px;
    bottom: 10px;
    z-index: 3;
}
.box:first-child{
    top: 150px;
    left: 40px;
    background-color: red;
    z-index: 20px;

}