body {
    margin: 0;
    font-family: sans-serif;
    background-color: slategray;
}

body, div {
    box-sizing: border-box;
}

.grid {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(3, 200px);
    grid-auto-rows: 150px;
    grid-auto-flow: row;

    gap: 20px;

    max-width: 1200px;
    width: 100%;
    margin: 30px auto;
}

.grid-item {
    background-color: aqua;
    padding: 10px;
    font-size: 30px;
    color: aliceblue;
}
