body{
    background-color: rgb(82, 81, 30);
    color: rgb(0, 0, 0);
}
datalist{
    background-color: aquamarine;
    border: 1px solid black;
    border-bottom: none;

}
details[open]{
border:  1px saddlebrown;
}