body{
    margin: 0;
    font-family: sans-serif;
    height: 100vh;
    background-color: #ccc;
}
.box{
    width: 200px;
    height: 200px;
    background-color: rgb(102, 90, 90);
    color: red;
    position: relative;
    left: 0;
    border: 2px solid black;
    margin: auto;
    margin-top: 50px;
    overflow: scroll;

    
}

