body {
    margin: 0;
    font-family: sans-serif;
    background-color: slategray;
    display: flex;
    flex-direction:column ;
    align-items: start;
}

body, div {
    box-sizing: border-box;
    

}
nav,header,footer,aside,main{
    box-sizing: border-box;
    padding: 20px;
    border: 2px solid black;
}

.grid {
    flex-grow: 1;
    display: grid;
    grid-template-columns:minmax(200px, 1fr) minmax(300px, ) ;    
    grid-template-rows:  1fr ;
    grid-auto-flow: dense;
    margin: auto;
    gap: 10px;
    padding: 10px;
    min-height: 100vh;
    grid-template-areas: "nav main aside" ;
}
/*.grid-item:first-child{
    grid-column: 1/span 2;
    grid-row: 1/span 3;
    background-image: url("imagen.png");
    background-size: cover;
    background-position: center;

}*/
.grid{
    max-width: 1200px;
    margin: auto;
}
header{
    grid-area: header;
    background-color: rgb(3, 15, 184);
    color: aliceblue;
    width: 100%;
    padding: 30px;
    text-align: center;
}
nav{
    grid-area: nav;
}
main{
    grid-area: main;
    min-width: 300px;
}
aside{
    grid-area: aside;
}
footer{
    grid-area: footer;
    background-color: black;
    color: aliceblue;
    width: 100%;
    padding: 50px;
    text-align: center;
}
nav,aside{
    position: sticky;
    top: 0;
    height: 100vh;
}
@media screen and (max-width:800px){
    .grid{
          grid: template columns 1fr;
          grid-template-areas: 
          
          "nav"
          "main"
          "aside";    
    }
    aside{
        display: none;
    }
}

@media screen and (max-width:580px) {
    .grid{
          grid: template columns 1fr;
          grid-template-areas: 
          
          "nav"
          "main"
          "aside";    
    }

}