body{
    margin: 0;font-family: sans-serif;
}
div,body{
    box-sizing: border-box;
}
.flexbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 400px;
    margin: auto;
}
.bloque{
    display: inline-block;
    min-width: 150px;
    max-width: 300px;
    background-color: red;
    margin: auto;
    width: 100%;
    flex: 1;
    font-size: 13px;
    padding: 10px;
    margin: 4px;


}