*{
    box-sizing: border-box;
}
body{
    margin: 0;font-family: sans-serif;
    background-color: aliceblue;
}
img{
    max-width: 100%;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    border: 10px solid red;
}