*{
    box-sizing: border-box;
}
body{
    margin: 0;font-family: sans-serif;overflow: hidden;
}

.box{
font-size: 30px;
border: 2px solid red;
width: fit-content;
padding: 320px;
background-color: color-mix(in srgb, red 30%, green 30%);

}

