.lista{
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 20px;
    list-style-position: inside;
}

.lista--vieja{
    opacity: 0.5;
}

.lista__item{
    color: black;
    margin: 6px 0;
    list-style: square;
}

.item--danino{
    color: red;
}

.item--importante{
    color: blue;
}
